.nav--primary {

}

.nav--primary--links {
	align-items: center;
	display: flex;
	justify-content: space-between;
	list-style: none;
	margin: 0;
	padding: 0;

	li {

	}

	a,
	a:visited {
		color: $text-color;
		font-weight: $bold;
		line-height: 1.2;
		text-decoration: none;
		text-transform: uppercase;

		&:hover,
		&:focus {
			text-decoration: underline;
		}

	}

}


@media only screen and (min-width: 37.5em) {

	@import 'nav-primary_600';

}
