.nav--primary {

}

.nav--primary--toggle,
.nav--primary--toggle:visited {
	display: none;
}

.nav--primary--links {
	display: block;
	display: flex;
	justify-content: space-between;

	li {

	}

	a,
	a:visited {

	}

}
