.banner {

    .wrap {
        align-items: center;
        display: flex;
        justify-content: space-between;
    }

}

.content--title {
	font-size: 5em;
    text-align: left;
    width: 50%;
}
