.banner {
	display: block;
	padding: $strip-padding 0;
	position: relative;
}

.content--title {
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-image: url('../images/img-bg.png');
    background-position: center;
    background-attachment: fixed;
    color: $text-color;
	font-family: $fancy;
	font-size: 4em;
    text-align: center;
}

.banner--graphic {
	margin: 0 auto;
	max-width: 26em;
}


@media only screen and (min-width: 43.75em) {

	@import 'banner_700';

}

@media only screen and (min-width: 62.5em) {

	@import 'banner_1000';

}
